
    <div>
    <div class="slide-wrap">
        <div class="slide-div">
            <div class="slide-item" style="background-color: white">
                <p style="word-break: break-all; white-space: normal;">
                    Welcome to my art page.
                    I am a practicing self taught artist ,who has been refining the craft for over 15 years .
                    This website contains various pieces that I have created over these years using a variety of mediums.

                    Scroll through and click on a piece for more information
                </p>
            </div>
            <div class="slide-item" style="background-color: red">
                <p>
                    Welcome to my art page.
                    I am a practicing self taught artist ,who has been refining the craft for over 15 years .
                    This website contains various pieces that I have created over these years using a variety of mediums.

                    Scroll through and click on a piece for more information
                </p>
            </div>
            <div class="slide-item" style="background-color: green">
                <p>
                    Welcome to my art page.
                    I am a practicing self taught artist ,who has been refining the craft for over 15 years .
                    This website contains various pieces that I have created over these years using a variety of mediums.

                    Scroll through and click on a piece for more information
                </p>
            </div>
            <div class="slide-item" style="background-color: blue">
                <p>
                    Welcome to my art page.
                    I am a practicing self taught artist ,who has been refining the craft for over 15 years .
                    This website contains various pieces that I have created over these years using a variety of mediums.

                    Scroll through and click on a piece for more information
                </p>
            </div>
        </div>
    </div>
    </div>
    <div class="indicator-div">
        <div class="slide-point"></div>
        <div class="slide-point"></div>
        <div class="slide-point"></div>
    </div>
