<div class="slide-wrap">
    <div class="slide-div">

        <div id="slide-1" class="slide-item" style="background-color: red">
            {% include 'about/slides/intro_slide.html' %}
        </div>
        <div id="slide-2" class="slide-item" style="background-color: white">
            {% include 'about/slides/slide_2.html' %}
        </div>
        <div id="slide-3" class="slide-item" style="background-color: green">
            {% include 'about/slides/slide_3.html' %}
        </div>
        <div id="slide-4" class="slide-item" style="background-color: blue">
            {% include 'about/slides/slide_4.html' %}
        </div>
        <div id="slide-5" class="slide-item" style="background-color: blue">
            {% include 'about/slides/slide_5.html' %}
        </div>
    </div>
</div>

<div class="indicator-div">
    <div id="indicator-1" class="slide-point"></div>
    <div id="indicator-2" class="slide-point"></div>
    <div id="indicator-3" class="slide-point"></div>
    <div id="indicator-4" class="slide-point"></div>
    <div id="indicator-5" class="slide-point"></div>
</div>


<script>

    function changeSlide(index) {
        const targetSlide = document.getElementById(`slide-${index+1}`);
        targetSlide.scrollIntoView({
            behavior: 'smooth',
            block: 'center',
            inline: 'center'
        });
        if (index+1 == 2){
            onSlideLoad();
        }
    }
    function onLoad() {
        const indicators = document.getElementsByClassName("slide-point");
        Array.from(indicators).forEach(function (element, index) {
            element.addEventListener("click", function () {
                changeSlide(index);
            })
        })
    }

    onLoad();

</script>