<div class="row pl-0 pr-0" style="height: 100%">
    <div class="d-flex justify-content-center align-items-center" style="width: 50%;">
        <div style="display:flex; justify-content: center; padding:0 0 0 0; width: 100%;">
            <img style="width: 90%; object-fit: cover; box-shadow:8px -8px 16px 0 rgba(0, 0, 0, 0.5), -16px 16px #939393;" src="{{ url_for('static', filename = 'assets/about_pictures/IMG-6042.jpg') }}">
        </div>
    </div>
    <div class="slide-text-box">
        <p class="slide-text">I now work on various commissions and projects individually as well as collaboratively and
        continue to further my skills.</p>
    </div>
</div>