<div class="slide-container">
    <div class="d-flex justify-content-center align-content-center" style="width: 50%;">
        <figure style="justify-self: center; padding-top: 16px; padding-left: 16px">
            <img id="slide-image-1" src="{{ url_for('static', filename = 'assets/about_pictures/intro_pic.jpg') }}">
        </figure>
    </div>
    <div class="slide-text-box">
        <p class="slide-text">Art has always had familial ties for me; My dad was a creative person as he spent many
        years playing guitar, he also had a background in painting with watercolours as well as
        sketching and numerous other techniques. Through him, as well as from his passing, I saw
        and understood what true passion for an art is. Growing up, my mum also encouraged my
        brothers as well as me to pick up art as a hobby to do in the house, as playing outside the
        house in the local area had come with racist encounters at the time. As a result, my brothers
        and me became self-taught artist, we all formed a unified passion and continue to develop
        our own craft. Our parents have always supported and praised us on this journey and
        continue to do so.</p>
    </div>
</div>