<div class="slide-container">
    <div class="d-flex justify-content-center align-content-center" style="width: 50%;">
        <figure style="justify-self: center; padding-top: 16px;">
            <img id="slide-image-3" src="{{ url_for('static', filename = 'assets/about_pictures/image_6483441.jpg') }}">
        </figure>
    </div>
    <div class="slide-text-box">
        <p class="slide-text">I completed my first paid commission as an illustrator for the children’s book, “Her Hair a
        Crown” in collaboration with the Ahmed Iqbal Ullah Race Relations Resources Centre &amp;
        Education trust.</p>
    </div>
</div>