<div class="slide-wrap" id="slide-wrap">
    <div class="slide-div">

        <div id="slide-1" class="slide-item">
            {% include 'about/slides/intro_slide.html' %}
        </div>
        <div id="slide-2" class="slide-item" style="opacity: 1;" >
            {% include 'about/slides/slide_2.html' %}
        </div>
        <div id="slide-3" class="slide-item" style="opacity: 1;" >
            {% include 'about/slides/slide_3.html' %}
        </div>
        <div id="slide-4" class="slide-item" style="opacity: 1;" >
            {% include 'about/slides/slide_4.html' %}
        </div>
        <div id="slide-5" class="slide-item" style="opacity: 1;" >
            {% include 'about/slides/slide_5.html' %}
        </div>
    </div>
</div>

<div class="indicator-div">
    <div id="indicator-1" class="row indicator-container">
        <div id="slide-point-1" class="slide-point">
        <p id="title-1" class="slide-title">
            Intro
        </p>
        </div>
    </div>
    <div id="indicator-2" class="row indicator-container">
        <div id="slide-point-2" class="slide-point">
            <p id="title-2" class="slide-title">
                2007 - 2012
            </p>
        </div>
    </div>
    <div id="indicator-3" class="row indicator-container">
        <div id="slide-point-3" class="slide-point">
            <p id="title-3" class="slide-title">
                2018
            </p>
        </div>
    </div>
    <div id="indicator-4" class="row indicator-container">
        <div id="slide-point-4" class="slide-point">
            <p id="title-4" class="slide-title">
                2020
            </p>
        </div>
    </div>
    <div id="indicator-5" class="row indicator-container">
        <div id="slide-point-5" class="slide-point">
            <p id="title-5" class="slide-title">
                2020 - Present
            </p>
        </div>
    </div>
</div>


<script>
    let currentIndex = 1;





    function removePreviousIndicator(){
        let slidePoint = document.getElementById(`slide-point-${currentIndex}`);
        let title = document.getElementById(`title-${currentIndex}`);
        slidePoint.style.removeProperty('height');
        slidePoint.style.removeProperty('background-color');
        title.style.removeProperty('display');
        title.style.removeProperty('filter');
    }

    function updateIndicators(index){
        let slidePoint = document.getElementById(`slide-point-${index}`);
        let title = document.getElementById(`title-${index}`);
        slidePoint.style.height = '100%';
        slidePoint.style.backgroundColor = 'transparent';
        title.style.display = 'block';
        title.style.filter = 'blur(0em)'
    }



    function animateText (element){
        let id = null;
        const targetText = document.getElementById(`${element}`);
        targetText.style.filter = `blur(${1}em)`
        let transformation = 0;
        id = setInterval(function (event){
            fadeSLideOut(event);
        }, 5)

        function fadeSLideOut() {
            if (transformation > 1){
                targetText.style.filter = `blur(${0}em)`
                clearInterval(id)
            } else {
                transformation += 0.05;
                targetText.style.filter = `blur(${1 - transformation}em)`
            }
        }
    }

    function onLoad() {
        const indicators = document.getElementsByClassName("slide-point");
        Array.from(indicators).forEach(function (element, index) {
            element.addEventListener("click", function () {
                changeSlide(index+1);
            })

            element.addEventListener("mouseover", function () {
                if (currentIndex != (index+1)){
                    animateText(element.children[0].id);
                }
            })
        })
        updateIndicators(currentIndex);
    }

    document.addEventListener("DOMContentLoaded", onLoad);


</script>