/* Div containing slider */
.slide-wrap{
    width:100vw;
    height: 70vh;
    position: sticky;
    overflow-x: visible;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

/* slider div */
.slide-div {
    width: 80%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: hidden;
    overflow-y: revert ;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-perspective: 600px;
}

.slide::before,
.slide::after {
  content: "";
  flex: 0 0 50%;
}

.slide-item {
    width: 100%;
    grid-auto-flow: row;
    will-change: perspective;
    overflow: hidden;
    scroll-snap-align: center;
    word-break: break-all;
    white-space: normal;
}

.indicator-div {
    width: 100vw;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
}

.indicator-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-point {
    background-color: white;
    width: auto;
    min-width: 10px;
    height:10px;
    border-radius: 5px;
    cursor: pointer;
}

.slide-title {
    margin: 0 0 0 0;
    opacity: 1;
    filter: blur(1em);
    transition: opacity 1s ease-in;
    white-space: nowrap;
    display: none;
}

.slide-point:hover, .slide-point:active {
    scale: 1;
    background-color: transparent;
    height: 100%;
}

.slide-point:hover > .slide-title{
    display: block;
}

.slide-point:active > .slide-title{
    display: block;
}

div.slide::-webkit-scrollbar {
    display: none;
}

.slide-image-div {
    object-fit: contain;
}

.grid-container {
    width: 50%;
    height: 100%;
    max-height: 100%;
    display: flex;
}

.grid-cell {
    max-height: inherit;
    display: flex;
    position: relative;
    margin-top: 10%;
    margin-left: 15%;
    padding: 1em 1em 1em 1em;
    grid-row: 1/1;
    grid-column: 1/1;
    transition: all 1s ease-in;
}

.right{
    justify-content: end;
}

#slide-2-content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    transition: all .3s ease-in;
}

#grid-cell-1{
    z-index: 10;
    transition: all .9s ease;
}

#grid-cell-2{
    z-index: 9;
    transition: all .8s ease;
}

#grid-cell-3{
    z-index: 8;
    transition: all .4s ease-out;
}

#grid-cell-4{
    z-index: 7;
    transition: all .7s ease-out;
}

#grid-cell-5{
    z-index: 6;
    transition: all .5s ease-in-out;
}

@supports (-webkit-hyphens:none)
{

        .grid-cell {
            display: flex;
        }

}


