/* Div containing slider */
.slide-wrap{
    width:100vw;
    height: 70vh;
    position: sticky;
    overflow-x: visible;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

/* slider div */
.slide-div {
    width: 80%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    grid-gap: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-perspective: 600px;
}

.slide::before,
.slide::after {
  content: "";
  flex: 0 0 50%;
}

.slide-item {
    width: 100%;
    grid-auto-flow: row;
    will-change: perspective;
    overflow: hidden;
    scroll-snap-align: center;
    word-break: break-all;
    white-space: normal;
}

.indicator-div {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
}

.slide-point {
    background-color: white;
    width:10px;
    height:10px;
    border-radius: 5px;
    margin: 30px;
    cursor: pointer;
}

.slide-point:hover, .slide-point:active {
    scale: 1.5;
}

div.slide::-webkit-scrollbar {
    display: none;
}
