.contact-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    gap: 1em;
}

.contact-details-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text-input {
    background: linear-gradient(#313030, transparent);
    border: 0;
    box-shadow: inset 0 0 10px black;
    border-radius: 5px;
    width: 80%;
    color: white;
    font-family: "Seravek Regular";
}

.text-input:focus {
    outline: none;
    border: 1px solid white ;
}

.textarea-input{
    height: 50%;
}
