<div id="art-style-helper-modal" class="side_panel_background">
  <div id="art-style-helper-content" class="modal_content">
    <button class="close-btn" onclick="closeNav(document.getElementById('art-style-helper-content'), document.getElementById('art-style-helper-modal'))">
      <span aria-hidden="true">&times;</span>
    </button>
    <div style="margin-left: 20px;margin-right: 20px;">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div style="display: grid; grid-template-columns: repeat(4, 1fr);gap: 20px;margin-left: 20px;margin-right: 20px;">
      <div class="helder-image-container">
        <img class="helper-image" src="{{ url_for('static', filename='assets/visual_aids/cat_digital_portrait_watermark.jpg') }}">
        <p style="word-break: break-word">Vector Digital</p>
      </div>
      <div class="helder-image-container">
        <img class="helper-image" src="{{ url_for('static', filename='assets/visual_aids/commmission_watermark_portrait.jpg') }}">
        <p>Acrylic Paint</p>
      </div>
      <div class="helder-image-container">
        <img class="helper-image" src="{{ url_for('static', filename='assets/visual_aids/donald_glover_sketch_portrait_watermark.jpg') }}">
        <p>Pencil</p>
      </div>
      <div class="helder-image-container">
        <img class="helper-image" src="{{ url_for('static', filename='assets/visual_aids/man_watermark_portrait.jpg') }}">
        <p>Realistic Digital</p>
      </div>
    </div>
  </div>
</div>
