{% extends 'contact/base.html' %}
{% block content %}
<div class="contact-page-container">
    <div class="contact-details-container">
        <div id="thank-you-message" class="text-box" style="display: none;">
            <p style="font-size: 1.5em;">
                Thank you for getting in contact! I will try and get back to you
                over the next few days.
            </p>
        </div>
        <div class="text-box">
            <label for="input-name">Your name</label>
            <input class="text-input" type="text" name="input-name" id="input-name" placeholder="Name">
        </div>
        <div class="text-box">
            <label for="input-email">Your Email Address</label>
            <input class="text-input" type="text" name="input-email" id="input-email" placeholder="Email Address">
        </div>
        <div class="text-box">
            <label for="input-message">Your Message</label>
            <textarea class="text-input textarea-input" id="input-message" name="input-message" placeholder="Message" rows="10" value=""></textarea>
        </div>
        <button id="send-message-btn">Send</button>
    </div>
    <div style="position: relative; width:60%; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <img class="gif" style="object-fit: cover; height: 50vh;" src="{{ url_for('static', filename='assets/gifs/maledancer.GIF') }}">
    </div>
</div>


<script>
    function formatEmail() {
        const email_payload = {
            'email': document.getElementById('input-email').value,
            'name': document.getElementById('input-name').value,
            'body': document.getElementById('input-message').value,
            'subject': 'New message from ' + document.getElementById('input-name').value
        };

        return email_payload;
    }
    async function sendPayload(payload) {
        try{
            const response = await fetch(
                url = "{{ url_for('contact.process_contact') }}",
                {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(payload)
                }
            )

            if (response.ok && response.status === 200){
                return
            }
            throw (
                new Error('Error sending message to backend')
            )
        } catch {
            alert('there was an issue sending your message please try again!')
        }
    }
    const sendBtn = document.getElementById('send-message-btn');
    sendBtn.addEventListener('click', async function () {
        const payload = formatEmail();
        await sendPayload(payload);

    })

</script>

{% endblock %}