<div class="row pl-0 pr-0" style="height: 100%">
    <div class="d-flex justify-content-center align-items-center" style="width: 50%;">
        <div style="display:flex; justify-content: center; padding:0 0 0 0; width: 100%;">
            <img style="width: 90%; object-fit: cover;" src="{{ url_for('static', filename = 'assets/about_pictures/image_6483441-2.jpg') }}">
        </div>
    </div>
    <div style="width:50%;">
        <p>
            Welcome to my art page.
            I am a practicing self taught artist ,who has been refining the craft for over 15 years .
            This website contains various pieces that I have created over these years using a variety of mediums.

            Scroll through and click on a piece for more information
        </p>
    </div>
</div>
