<div class="row">
    <div class="d-flex justify-content-center align-content-center" style="width: 50%;">
        <figure style="justify-self: center; padding-top: 16px;">
            <img style="height: 65vh; box-shadow:-8px 8px 16px 0 rgba(0, 0, 0, 0.5), 16px -16px #939393;" src="{{ url_for('static', filename = 'assets/about_pictures/image_6483441.jpg') }}">
        </figure>
    </div>
    <div class="slide-text-box">
        <p class="slide-text">I completed my first paid commission as an illustrator for the children’s book, “Her Hair a
        Crown” in collaboration with the Ahmed Iqbal Ullah Race Relations Resources Centre &amp;
        Education trust.</p>
    </div>
</div>