<div class="row ml-0 mr-0" style="height: 100%">
    <div class="grid-container">
        <div id="slide-2-content">
            <div class="grid-cell right" style="grid-area: img_e; margin-top: 1em;"">
                <img class="grid-image" src="{{ url_for('static', filename = 'assets/about_pictures/100A1F68-6AC2-409D-A8AE-BCD95C09CE7D.jpg') }}">
            </div>
            <div class="grid-cell left" style="grid-area: img_a; margin-bottom: 1em;">
                <img class="grid-image" src="{{ url_for('static', filename = 'assets/about_pictures/IMG-6050.jpg') }}">
            </div>
            <div class="grid-cell right" style="grid-area: img_b; margin-bottom: 1em;">
                <img class="grid-image" src="{{ url_for('static', filename = 'assets/about_pictures/IMG-8831.jpg') }}">
            </div>
            <div class="grid-cell right" style="grid-area: img_c; margin-left: 1em;">
                <img class="grid-image" src="{{ url_for('static', filename = 'assets/about_pictures/IMG-8833.jpg') }}">
            </div>
            <div class="grid-cell left" style="grid-area: img_d; margin-right: 0.5em;">
                <img class="grid-image" src="{{ url_for('static', filename = 'assets/about_pictures/IMG-3300.jpg') }}">
            </div>
        </div>
    </div>
    <div style="width:50%;padding-left: 5px; ">
        <p>
            Welcome to my art page.
            I am a practicing self taught artist ,who has been refining the craft for over 15 years .
            This website contains various pieces that I have created over these years using a variety of mediums.

            Scroll through and click on a piece for more information
        </p>
    </div>
</div>