<!DOCTYPE html>
<html>
<head>
<title>MDurocherArt</title>
    {% include 'navbar.html' %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/images.css') }}" />
    <div class="row align-content-center">
        <img class="logo mx-auto img-fluid" src="{{ url_for('static', filename='assets/logo.png') }}" alt="Responsive image"/>
    </div>
</head>

<body>
Test layer 1
{% block content %}
{% endblock %}
</body>

</html>