<div style="width:100%; height: 45vh;">
    <div class="slider-wrap" id="gallery" style=" width:90%; overflow-x: visible;z-index: 0;">
        <div class="slider" id="ul_images">
        {% for index in range(image_list|length) %}
            <div class="slider-item">
                <img class="gallery_image" src="{{ url_for('static', filename = 'assets/gallery/' + image_list[index]) }}">
            </div>
        {% endfor %}
        </ul>
    </div>


</div>

<script>
    /* scroll right btn js */
    const right_scroll = document.getElementById("scroll_right");
    right_scroll.addEventListener("click", scroll_right);

    function scroll_right() {
        const lists = document.getElementById("gallery").getElementsByTagName('ul')
        let index;
        for (var i=0; i < lists.length; i++){
            if (lists[i].checkVisibility()){
                index = i;
                break;
            };
        };

        if ((index + 1) < lists.length){
            lists[index + 1].style.display = '';
            lists[index].style.display = 'none';

        } else {
            lists[0].style.display = '';
            lists[index].style.display = 'none';

        };


    };
    /* end of scroll right */


</script>
