<!--<div class="d-flex justify-content-center" >-->
<!--    <div class="text_box">-->
<!--        <p style="margin: 0 0 0 5px">-->
<!--            Welcome to my art page. I am a practicing self-taught artist ,who has been refining the craft for over 15 years.-->
<!--            This website contains various pieces that I have created over these years using a variety of mediums.-->
<!--            Scroll through and click on a piece for more information.-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->
<div class="slider-wrap" id="gallery">
    <div class="slider-btn-div">
        <button class="slider-btn" id="left-slider-btn">
            <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
    </div>
    <div class="slider" id="div-images">

        {% for index in range(image_list|length) %}
            <div class="slider-item" id="{{ index }}">
                <a href="#" target="_self">
                    <img class="gallery_image" src="{{ url_for('static', filename = 'assets/gallery_jpg/' + image_list[index]) }}">
                </a>
            </div>
        {% endfor %}

    </div>
    <div class="slider-btn-div">
        <button class="slider-btn" id="right-slider-btn">
            <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
    </div>
</div>


<script>
    let imagesList = [...document.querySelectorAll(".slider-item")];
    var slider = document.getElementById('div-images');
    var slider_rect = slider.getBoundingClientRect();
    const leftSliderBtn = document.getElementById('left-slider-btn');
    const rightSliderBtn = document.getElementById('right-slider-btn');

    function checkImages(){

        let in_view = [];
        imagesList.forEach(image => {
            const rect = image.getBoundingClientRect();
            if((rect.right > slider_rect.left) && (rect.left < slider_rect.right)){
                in_view.push(image)
            } else{
                image.setAttribute("style", "scale: 0;")
            }
        });
        return in_view;
    }

    function getCenterImage() {

        const in_view = checkImages();
        let max = 0;
        let id;
        in_view.forEach(image => {
            if (image.style.scale > max){
                max = image.style.scale;
                id = image.id;
            }
        })
        return id;
    }

    function scaleImages(){
        const in_view = checkImages();
        const center = (slider_rect.right + slider_rect.left)/2;
        in_view.forEach(image => {
            const rect = image.getBoundingClientRect();
            if(((rect.right + rect.left)/2) > center){
                image.style.scale = `${1 - (( rect.right -((rect.right-rect.left)/2) - center)/(center))}`;
            } else if(((rect.right + rect.left)/2) < center){
                image.style.scale = `${((rect.right - ((rect.right-rect.left)/2))/(center))}`;
            }
        });

        requestAnimationFrame(scaleImages)
    }

    function resizeSlider() {
        slider_rect = slider.getBoundingClientRect();
    }

    async function fetchImageUrl(targetUrl) {
        try {
            return fetch(targetUrl)
        } catch {
            return console.log('Error retrieving image')
        }
    }

    async function openImage(event) {
        const image_url = event.currentTarget.firstElementChild.firstElementChild.src.split("/");
        const image = image_url.pop().split(".")[0];

        const targetUrl = "{{ url_for('high_quality_view.get_image') }}" + "?image_id=" + image
        console.log(targetUrl)
        const response = await fetchImageUrl(targetUrl)
        window.location = response.url
    }

    function Onload() {
        resizeSlider()
        imagesList.forEach(image => {
            image.addEventListener("click", function(event) {
                openImage(event);
                event.stopPropagation();
            });
        });
        leftSliderBtn.addEventListener("click", slideLeft);
        rightSliderBtn.addEventListener("click", slideRight);
        document.addEventListener('keydown', arrowSlider);

    }

    window.addEventListener("resize", resizeSlider);

    function slideLeft() {
        const centerImageId = getCenterImage();
        const targetImage = document.getElementById(`${centerImageId-1}`);
        targetImage.scrollIntoView({
            behavior: 'smooth',
            block: 'center',
            inline: 'center'
        });

        if (`${centerImageId-1}` ==0){
            document.getElementById('left-slider-btn').disabled = true;
        }

        document.getElementById('right-slider-btn').removeAttribute("disabled");

    }

    function slideRight() {
        const centerImageId = parseInt(getCenterImage());
        const targetImage = document.getElementById(`${centerImageId+1}`);
        targetImage.scrollIntoView({
            behavior: 'smooth',
            block: 'center',
            inline: 'center'
        });

        if (`${centerImageId+1}` == (imagesList.length-1)){
            document.getElementById('right-slider-btn').disabled = true;
        }

        document.getElementById('left-slider-btn').removeAttribute("disabled");
    }

    function arrowSlider(event) {
        const centerImageId = parseInt(getCenterImage());

        if ((event.which == 37) && (`${centerImageId}` !=0)){
            /*left key code*/
            slideLeft();
        }
        if ((event.which == 39) && (`${centerImageId}` != (imagesList.length-1))){
            /*right key code*/
            slideRight();
        }

    }

    const onLoadPromise = new Promise((result, reject) => {

        if (true) {
            result('images resized successfully!');
        } else{
            reject('We still have a promise');
        }
    })

    onLoadPromise.then(result => {
        console.log(result);
        scaleImages();
    });

    onLoadPromise.catch(error => {
        console.log(error);
    })



    Onload();

</script>
