
<div class="slider-wrap" id="gallery">
    <div class="slider-btn-div">
        <button class="slider-btn" id="left-slider-btn">
            <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
    </div>
    <div class="slider" id="div-images">
        <div class="slider-item">
            <div id="empty-slider-item-start">

            </div>
        </div>
        {% for index in range(image_list|length) %}
            <div class="slider-item" id="{{ index }}">
                <a href="#" target="_self">
                    <img class="gallery_image" src="{{ url_for('static', filename = 'assets/gallery_jpg/' + image_list[index]) }}">
                </a>
            </div>
        {% endfor %}
        <div class="slider-item">
            <div id="empty-slider-item-end">

            </div>
        </div>
    </div>
    <div class="slider-btn-div">
        <button class="slider-btn" id="right-slider-btn">
            <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
    </div>
</div>




<script>
    let imagesList = [...document.querySelectorAll(".slider-item")];
    imagesList.shift();
    imagesList.pop();
    var slider = document.getElementById('div-images');
    var slider_rect = slider.getBoundingClientRect();
    var slider_center = (slider_rect.right - slider_rect.left)/2;
    const firstImage = imagesList[0].getBoundingClientRect();
    const lastImage = imagesList.slice(-1)[0].getBoundingClientRect();
    const leftSliderBtn = document.getElementById('left-slider-btn');
    const rightSliderBtn = document.getElementById('right-slider-btn');

    function checkImages(){

        let in_view = [];
        imagesList.forEach(image => {
            const rect = image.getBoundingClientRect();
            if((rect.right > slider_rect.left) && (rect.left < slider_rect.right)){
                in_view.push(image)
            } else{
                image.setAttribute("style", "scale: 0;")
            }
        });
        return in_view;
    }

    function getCenterImage() {

        const in_view = checkImages();
        let max = 0;
        let id;
        in_view.forEach(image => {
            if (image.style.scale > max){
                max = image.style.scale;
                id = image.id;
            }
        })
        return id;
    }

    function scaleImages(){
        const in_view = checkImages();
        const center = (slider_rect.right + slider_rect.left)/2;
        in_view.forEach(image => {
            const rect = image.getBoundingClientRect();
            if(((rect.right + rect.left)/2) > center){
                image.style.scale = `${1 - (( rect.right -((rect.right-rect.left)/2) - center)/(center))}`;

            } else if(((rect.right + rect.left)/2) < center){
                image.style.scale = `${((rect.right - ((rect.right-rect.left)/2))/(center))}`;
            }
        });

        requestAnimationFrame(scaleImages)
    }

    function Onload() {
        slider = document.getElementById('div-images');
        slider_rect = slider.getBoundingClientRect();
        slider_center = (slider_rect.right - slider_rect.left)/2;
        imagesList.forEach(image => {
            image.addEventListener("click", open_image);
        });
        leftSliderBtn.addEventListener("click", slideLeft);
        rightSliderBtn.addEventListener("click", slideRight);
        document.addEventListener('keydown', arrowSlider);
        document.getElementById("empty-slider-item-start").style.width = `${slider_center-((firstImage.right - firstImage.left)/2)}px`
        document.getElementById("empty-slider-item-end").style.width = `${slider_center}px`
    }

    window.addEventListener("resize", Onload);

    function slideLeft() {
        const centerImageId = getCenterImage();
        const targetImage = document.getElementById(`${centerImageId-1}`);
        targetImage.scrollIntoView({
            behavior: 'smooth',
            block: 'center',
            inline: 'center'
        });

        if (`${centerImageId-1}` ==0){
            document.getElementById('left-slider-btn').disabled = true;
        }

        document.getElementById('right-slider-btn').removeAttribute("disabled");

    }

    function slideRight() {
        const centerImageId = parseInt(getCenterImage());
        const targetImage = document.getElementById(`${centerImageId+1}`);
        targetImage.scrollIntoView({
            behavior: 'smooth',
            block: 'center',
            inline: 'center'
        });

        if (`${centerImageId+1}` == (imagesList.length-1)){
            document.getElementById('right-slider-btn').disabled = true;
        }

        document.getElementById('left-slider-btn').removeAttribute("disabled");
    }

    function arrowSlider(event) {
        const centerImageId = parseInt(getCenterImage());

        if ((event.which == 37) && (`${centerImageId}` !=0)){
            /*left key code*/
            slideLeft();
        }
        if ((event.which == 39) && (`${centerImageId}` != (imagesList.length-1))){
            /*right key code*/
            slideRight();
        }

    }


    function open_image(event) {
        console.log(event.currentTarget);
        /*TO DO Add modal opener here*/
    }

    const onLoadPromise = new Promise((result, reject) => {
        console.log((lastImage.right - lastImage.left));
        console.log(`${slider_center-((firstImage.right - firstImage.left)/2)}px`)
        console.log(`${firstImage.right}px`)
        console.log(`${firstImage.left}px`)
        console.log(`${slider_center-((firstImage.right - firstImage.left)/2)}px`)
        document.getElementById("empty-slider-item-start").style.width = `${slider_center - ((firstImage.right - firstImage.left)/2)}px`
        document.getElementById("empty-slider-item-end").style.width = `${slider_center + ((lastImage.right - lastImage.left)/2)}px`
        if (true) {
            result('images resized successfully!');
        } else{
            reject('We still have a promise');
        }
    })

    onLoadPromise.then(result => {
        console.log(result);
        scaleImages();
    });

    onLoadPromise.catch(error => {
        console.log(reject);
    })



    Onload();
    /*  let sliderWrap = document.getElementById('gallery');
    let slider = document.getElementById('div-images');
    let clonesWidth;
    let sliderWidth;
    let clones = [];
    let disableScroll = false;
    let scrollPos;

    let items = [...document.querySelectorAll('.slider-item')];

    items.forEach(item => {
        let clone = item.cloneNode(true);
        clone.classList.add('clone');
        slider.appendChild(clone);
        clones.push(clone);
    })
    console.log(clones)

    function getClonesWidth() {
        let width = 0;
        clones.forEach(clone => {
            width += clone.offsetWidth;
        })
        return width;
    }

    function getScrollPos() {
        return window.scrollY;
    }

    function scrollUpdate() {
        scrollPos = getScrollPos();
        console.log(scrollPos)
        if( scrollPos >= sliderWidth){
            console.log('here')
            window.scrollTo({top: 1});
        }else if(scrollPos <= 0){
            console.log('heresdsd')
            window.scrollTo({top: sliderWidth - clonesWidth - 1})
        }
        slider.style.transform = `translateX(${-window.scrollY}px`

        requestAnimationFrame(scrollUpdate)
    }


    function calculateDimensions() {
        sliderWidth = slider.getBoundingClientRect().width;
        clonesWidth = getClonesWidth();
    }

    function onLoad(){
        calculateDimensions();
        document.body.style.height = `${sliderWidth}px`
        window.scrollTo({top: 1});
        scrollUpdate();
    }

    onLoad();
*/


</script>