<div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center" style="width:15%;">
        <button class=" side_gallery_btn align-self-center justify-self-center" id="scroll_left">
            <i class="fa-solid fa-circle-chevron-left"></i>
        </button>
    </div>
    <div id="gallery" style="width:70%;">
        {% for index in range(image_list|length) %}

            {% if index == 0 or index%8 == 0 %}
                </ul>
                <ul id="ul_{{ index }}" style="{{'display: none;' if index != 0 else '' }}">
                    <li>
                        <img class="gallery_image" src="{{ url_for('static', filename = 'assets/gallery/' + image_list[index]) }}">
                    </li>
            {% elif index%4 == 0 and index %}
                <li style="flex-basis: 100%; height: 1em;">
                </li>
                <li>
                    <img class="gallery_image" src="{{ url_for('static', filename = 'assets/gallery/' + image_list[index]) }}">
                </li>
            {% else %}
                <li>
                    <img class="gallery_image" src="{{ url_for('static', filename = 'assets/gallery/' + image_list[index]) }}">
                </li>
            {% endif %}
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center" style="width:15%;">
        <button class=" side_gallery_btn align-self-center justify-self-center" id="scroll_right">
            <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
    </div>
</div>

<script>
    /* scroll right btn js */
    let image_count = {{ image_list|length }};
    const element = document.getElementById("scroll_right");
    element.addEventListener("click", scroll_right);

    function scroll_right() {
        const lists = document.getElementById("gallery").getElementsByTagName('ul')
        let index;
        for (var i=0; i < lists.length; i++){
            if (lists[i].checkVisibility()){
                index = i;
                break;
            };
        };

        if ((index + 1) < lists.length){
            lists[index + 1].style.display = '';
            lists[index].style.display = 'none';

        } else {
            lists[0].style.display = '';
            lists[index].style.display = 'none';

        };


    };
    /* end of scroll right */


</script>

<script>
    /* scroll left btn js */
    let image_count = {{ image_list|length }};
    const element = document.getElementById("scroll_left");
    element.addEventListener("click", scroll_right);

    function scroll_right() {
        const lists = document.getElementById("gallery").getElementsByTagName('ul')
        let index;
        for (var i=0; i < lists.length; i++){
            if (lists[i].checkVisibility()){
                index = i;
                break;
            };
        };

        if ((index - 1) > 0){
            lists[index - 1].style.display = '';
            lists[index].style.display = 'none';

        } else {
            lists[0].style.display = '';
            lists[index].style.display = 'none';

        };


    };
    /* end of scroll left */


</script>