<div id="my-modal" class="side-panel-background">
    <div id="modal-content" class="modal">
        This is a test
    </div>
</div>
<script>
    function open_image(event) {
        console.log(event.currentTarget);
        console.log('modal open');
        document.getElementById("my-modal").style.display = "block";
    }


    function closeModal() {
        console.log('close')
        document.getElementById("my-modal").style.display = "none";

    }

    window.onclick = function(event) {
        console.log('hehehrhehr')
        const panel_display = document.getElementById("my-side-panel").style.display;
        const modal_display = document.getElementById("my-modal").style.display;
        console.log(modal_display)
        if ((event.target.id != "side-panel-content") && panel_display=='block' ) {
          closeNav();
        } else if ((event.target.id != "modal-content") && modal_display=='block' ) {
          closeModal();
        }

    }
</script>