{% extends 'contact/base.html' %}
{% block content %}
<form action="{{ url_for('upload.update_image') }}" method="post">
    <div class="detail-view-div" style="width: 100%;">
        <div class="high-quality-image-div col">
            <img class="high-quality-image" src="{{ url_for('static', filename='assets/gallery/' + image_info.image_id + '.png') }}">
        </div>
        <div class="form-container">
            <input style="display: none;" type="text" name="image_id" id="image_id" value="{{ image_info.image_id }}">
            <div class="text-box">
                <label for="name">Name of piece</label>
                <input class="text-input" type="text" name="name" id="name" value="{{ image_info.piece_name }}">
            </div>
            <div class="text-box">
                <label for="name">Art Style</label>
                <input class="text-input" type="text" name="art_style" id="art_style" value="{{ image_info.style }}">
            </div>
            <div class="text-box">
                <label for="name">Piece Description</label>
                <textarea class="text-input textarea-input" name="art_style" id="description" rows="10" value="{{ image_info.description }}"></textarea>
            </div>
        <input type="submit">
        </div>
    </div>
</form>
<script>

</script>

{% endblock %}